ul{
    list-style: none;
    padding-left: 0px;
}
.wrap{
    width: 100vw;
    height: 100vh;
    background: rgb(216, 216, 216);
    margin: 0;
}

.todoListDiv{
    width: calc(100% - 512px);
    height:calc(100% - 20px);
    top:10px;
    left:250px;
    position: absolute;
    background: white;
    border-radius: 16px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.04);
}
.title{
    height: 100px;
    background: rgb(103, 153, 255);
    border-radius: 16px;
    margin-bottom: 20px;
    
}
h1 {
    padding: 20px 0px;
    background-color: rgb(14, 171, 233);
    text-align: center;
    color: #ffffff;
  }
.todoListInput{
    width: calc(100% - 100px);
    height:30px;
    background: #a1a3a4;
}
input::placeholder{
    color: #dee3e6;
    font-size:1.125rem;
}

.todoListButton{
    height:40px;
    width: 50px;
    margin-left:20px;
}
/*
.agree .all_agree:after {
    display:block; 
    clear:both; 
    content:"";
} 


input[type="checkbox"]:checked + label {
    background:url(../images/check.png) #fa3062 no-repeat center/10px 10px; 
    float: right
}


.agree {
    position:relative;
} 

input[type="checkbox"] + label span {
    position: absolute;
    top: 0; 
    left:0px; 
    display: block; 
    font-weight: bold;
} */